.info-boxes {
  display: grid;
  gap: var(--vertical-space);
  grid-template-rows: auto;
  width: 100%;
}

.info .content {
  margin: auto;
}

.info .content p {
  margin-bottom: calc(var(--spacing) * 2);
}

.info .kicker {
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
}

.info .image {
  display: flex;
}

.info .image img {
  margin: auto;
  transform: rotateZ(2deg);
}

.info-right .image img {
  transform: rotateZ(-2deg);
}

.info-right .content {
  order: 2;
}

@media (min-width: 600px) {
  :root {
    --vertical-space: calc(var(--gutter) * 2);
  }

  .info-boxes {
    display: grid;
    gap: var(--gutter);
    grid-template-rows: auto;
    width: 100%;
  }

  .info {
    display: grid;
    gap: var(--gutter);
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: auto;
  }

  .info .content {
    grid-column: 1/span 6;
  }

  .info .image {
    grid-column: 7/span 6;
  }

  .info-right .content {
    grid-column: 7/span 6;
  }

  .info-right .image {
    grid-column: 1/span 6;
  }
}

@media (min-width: 1000px) {
  .info .content {
    grid-column: 2/span 4;
  }

  .info .image {
    grid-column: 7/span 6;
  }

  .info-right .content {
    grid-column: 8/span 4;
  }

  .info-right .image {
    grid-column: 1/span 6;
  }
}
